<!-- <%-include('_header');%> -->
<body>
<h1>welcome to social elite</h1>
<section>
    <form action="/user/post/create" method="POST">
        <textarea name="content" id="" cols="30" rows="4" placeholder="How you DOING"></textarea>
        <input type="submit" value="Post">
    </form>
</section>
</body>
<!-- <%-include('_footer');%> -->