
<body>
    <div>
    <h1>welcome to social elite</h1>
<%if(locals.user){%>
<section>
    
    <form action="/user/post/create" id="post-data-form" method="POST">
        <textarea name="content" id="" cols="30" rows="4" placeholder="How you DOING"></textarea>
        <input type="submit" value="Post">
    </form>
</section>
<%}%>
<section>
    <%-include('_post');%>
</section>
</div>
</body>
