<body>
    <h1>
        Sign UP
    </h1>
    <form action="/create" method="POST">
        <input type="text" name="name" placeholder="name">
        <input  name="email" type="email" id="" placeholder="email">
        <input type="password" name="password" id="" placeholder="password">
        <input type="password" name="confirm_pasword" id="" placeholder="Conform password">
        <input type="submit" value="Sign Up">
    </form>
</body>