
<body>
    <h1>This is sign-in</h1>
    <form action="/createSession" method="POST">
        <input type="email" name="email" id="">
        <input type="password" name="password" id="">
        <input type="submit" value="sign-in">
    </form>
</body>