
<body>
    <h1>This is sign-in</h1>
    <form action="/user/createSession" method="POST">
        <input type="email" name="email" id="">
        <input type="password" name="password" id="">
        <input type="submit" value="sign-in">
    </form>
    <a href="/user/auth/google">Sign on via google</a>
</body>